@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: #1A384F;
}
:root {
    --background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask5004%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient5005%26quot%3b)'%3e%3c/rect%3e%3cg%3e%3cpath d='M1080 280L1064 296L1048 296L1032 296M1272 280L1256 296L1240 296L1224 296M1368 280L1352 296L1336 312L1320 312L1304 312L1288 312L1272 312M968 280L952 264M1208 280L1192 296L1176 296L1160 296L1144 296L1128 296L1112 296L1096 296L1080 296M1448 296L1432 280L1416 280M1096 280L1080 264L1064 264L1048 264L1032 264L1016 264M872 280L856 296L840 296M1176 280L1160 264L1144 264L1128 264M1288 280L1272 296M1464 280L1448 296L1432 296L1416 296L1400 280L1384 280L1368 280L1352 280L1336 280L1320 280L1304 280L1288 280L1272 280L1256 280L1240 280L1224 280L1208 280L1192 280L1176 280L1160 280L1144 280L1128 280L1112 280L1096 280L1080 280L1064 280L1048 280L1032 280L1016 280L1000 280L984 280L968 280L952 280L936 280L920 280L904 280L888 280L872 280L856 280L840 280' stroke='url(%26quot%3b%23SvgjsRadialGradient5006%26quot%3b)' stroke-width='2.67'%3e%3c/path%3e%3cpath d='M837.33 280 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1029.33 296 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1221.33 296 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1269.33 312 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM949.33 264 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1077.33 296 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1413.33 280 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1013.33 264 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM837.33 296 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1125.33 264 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1269.33 296 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0z' fill='url(%26quot%3b%23SvgjsRadialGradient5006%26quot%3b)'%3e%3c/path%3e%3cpath d='M1464 264L1448 264L1432 264L1416 264L1400 264L1384 264L1368 264L1352 264L1336 264L1320 264L1304 264L1288 264L1272 264L1256 264L1240 264L1224 264L1208 264' stroke='url(%26quot%3b%23SvgjsRadialGradient5006%26quot%3b)' stroke-width='2.67'%3e%3c/path%3e%3cpath d='M1205.33 264 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0z' fill='url(%26quot%3b%23SvgjsRadialGradient5006%26quot%3b)'%3e%3c/path%3e%3cpath d='M1224 248L1208 232L1192 216M936 200L920 216L904 216L888 216L872 216L856 216L840 216M1256 248L1240 232L1224 232L1208 216L1192 200L1176 200L1160 200M1144 232L1128 216M1320 248L1304 232M1272 248L1256 232L1240 216M968 200L952 184L936 168M984 200L968 184M1384 248L1368 232L1352 232L1336 232L1320 232L1304 216M1464 248L1448 248L1432 248L1416 248L1400 248L1384 248L1368 248L1352 248L1336 248L1320 248L1304 248L1288 248L1272 248L1256 248L1240 248L1224 248L1208 248L1192 232L1176 232L1160 232L1144 232L1128 232L1112 216L1096 216L1080 216L1064 200L1048 200L1032 200L1016 200L1000 200L984 200L968 200L952 200L936 200L920 200L904 200' stroke='url(%26quot%3b%23SvgjsRadialGradient5006%26quot%3b)' stroke-width='2.67'%3e%3c/path%3e%3cpath d='M901.33 200 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1189.33 216 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM837.33 216 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1157.33 200 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1125.33 216 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1301.33 232 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1237.33 216 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM933.33 168 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM965.33 184 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1301.33 216 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0z' fill='url(%26quot%3b%23SvgjsRadialGradient5006%26quot%3b)'%3e%3c/path%3e%3cpath d='M1464 328L1448 328' stroke='url(%26quot%3b%23SvgjsRadialGradient5006%26quot%3b)' stroke-width='2.67'%3e%3c/path%3e%3cpath d='M1445.33 328 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0z' fill='url(%26quot%3b%23SvgjsRadialGradient5006%26quot%3b)'%3e%3c/path%3e%3cpath d='M1352 200L1336 216M1112 200L1096 184L1080 184L1064 168M1256 184L1240 200L1224 200L1208 200M1400 216L1384 232M1160 184L1144 184L1128 168M1464 232L1448 232L1432 232L1416 232L1400 216L1384 216L1368 200L1352 200L1336 200L1320 200L1304 200L1288 200L1272 184L1256 184L1240 184L1224 184L1208 184L1192 184L1176 184L1160 184L1144 200L1128 200L1112 200L1096 200L1080 200L1064 184' stroke='url(%26quot%3b%23SvgjsRadialGradient5006%26quot%3b)' stroke-width='2.67'%3e%3c/path%3e%3cpath d='M1061.33 184 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1333.33 216 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1061.33 168 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1205.33 200 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1381.33 232 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1125.33 168 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0z' fill='url(%26quot%3b%23SvgjsRadialGradient5006%26quot%3b)'%3e%3c/path%3e%3cpath d='M1432 360L1416 344L1400 344M1352 360L1336 360L1320 360L1304 344L1288 344M1304 360L1288 376L1272 376M1464 344L1448 360L1432 360L1416 360L1400 360L1384 360L1368 360L1352 360L1336 376L1320 376L1304 360L1288 360' stroke='url(%26quot%3b%23SvgjsRadialGradient5006%26quot%3b)' stroke-width='2.67'%3e%3c/path%3e%3cpath d='M1285.33 360 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1397.33 344 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1285.33 344 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1269.33 376 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0z' fill='url(%26quot%3b%23SvgjsRadialGradient5006%26quot%3b)'%3e%3c/path%3e%3cpath d='M1224 168L1208 152M1064 136L1048 136L1032 136L1016 136L1000 120L984 120L968 120L952 120M1304 184L1288 184M1160 152L1144 168M1080 136L1064 120L1048 120L1032 120M1176 168L1160 168M1464 216L1448 216L1432 216L1416 216L1400 200L1384 200L1368 184L1352 184L1336 184L1320 184L1304 184L1288 168L1272 168L1256 168L1240 168L1224 168L1208 168L1192 168L1176 168L1160 152L1144 152L1128 152L1112 152L1096 152L1080 136L1064 136L1048 152' stroke='url(%26quot%3b%23SvgjsRadialGradient5006%26quot%3b)' stroke-width='2.67'%3e%3c/path%3e%3cpath d='M1045.33 152 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1205.33 152 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM949.33 120 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1285.33 184 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1141.33 168 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1029.33 120 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1157.33 168 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0z' fill='url(%26quot%3b%23SvgjsRadialGradient5006%26quot%3b)'%3e%3c/path%3e%3cpath d='M1464 200L1448 200L1432 200L1416 200L1400 184L1384 184L1368 168L1352 168L1336 168L1320 168L1304 168L1288 152L1272 152L1256 152L1240 152' stroke='url(%26quot%3b%23SvgjsRadialGradient5006%26quot%3b)' stroke-width='2.67'%3e%3c/path%3e%3cpath d='M1237.33 152 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0z' fill='url(%26quot%3b%23SvgjsRadialGradient5006%26quot%3b)'%3e%3c/path%3e%3cpath d='M1240 408L1224 392L1208 392L1192 392L1176 392M1256 392L1240 376L1224 376L1208 376M1464 376L1448 376L1432 376L1416 376L1400 376L1384 376L1368 376L1352 376L1336 392L1320 392L1304 392L1288 392L1272 392L1256 392L1240 408L1224 408L1208 408' stroke='url(%26quot%3b%23SvgjsRadialGradient5006%26quot%3b)' stroke-width='2.67'%3e%3c/path%3e%3cpath d='M1205.33 408 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1173.33 392 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1205.33 376 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0z' fill='url(%26quot%3b%23SvgjsRadialGradient5006%26quot%3b)'%3e%3c/path%3e%3cpath d='M1448 184L1432 168L1416 168M1464 184L1448 184L1432 184L1416 184' stroke='url(%26quot%3b%23SvgjsRadialGradient5006%26quot%3b)' stroke-width='2.67'%3e%3c/path%3e%3cpath d='M1413.33 184 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1413.33 168 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0z' fill='url(%26quot%3b%23SvgjsRadialGradient5006%26quot%3b)'%3e%3c/path%3e%3cpath d='M1304 408L1288 424L1272 424M1464 392L1448 392L1432 392L1416 392L1400 392L1384 392L1368 392L1352 392L1336 408L1320 408L1304 408L1288 408L1272 408L1256 408L1240 424L1224 424' stroke='url(%26quot%3b%23SvgjsRadialGradient5006%26quot%3b)' stroke-width='2.67'%3e%3c/path%3e%3cpath d='M1221.33 424 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1269.33 424 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0z' fill='url(%26quot%3b%23SvgjsRadialGradient5006%26quot%3b)'%3e%3c/path%3e%3cpath d='M1224 440L1208 456L1192 456L1176 456L1160 456L1144 456L1128 456M1336 424L1320 424L1304 424M1160 440L1144 424L1128 424M1304 440L1288 456L1272 456M1368 408L1352 424L1336 440L1320 456L1304 472L1288 472L1272 472L1256 472L1240 488L1224 488M1256 440L1240 456L1224 456L1208 472L1192 472L1176 472M1464 408L1448 408L1432 408L1416 408L1400 408L1384 408L1368 408L1352 408L1336 424L1320 440L1304 440L1288 440L1272 440L1256 440L1240 440L1224 440L1208 440L1192 440L1176 440L1160 440L1144 440L1128 440L1112 440L1096 456L1080 456' stroke='url(%26quot%3b%23SvgjsRadialGradient5006%26quot%3b)' stroke-width='2.67'%3e%3c/path%3e%3cpath d='M1077.33 456 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1125.33 456 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1301.33 424 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1125.33 424 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1269.33 456 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1221.33 488 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1173.33 472 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0z' fill='url(%26quot%3b%23SvgjsRadialGradient5006%26quot%3b)'%3e%3c/path%3e%3cpath d='M1368 152L1352 136M1192 136L1176 152M1320 152L1304 136L1288 120L1272 120M1160 136L1144 120L1128 120L1112 120L1096 120L1080 120L1064 104L1048 104M1240 136L1224 120L1208 120L1192 104M1464 152L1448 152L1432 152L1416 152L1400 168L1384 168L1368 152L1352 152L1336 152L1320 152L1304 152L1288 136L1272 136L1256 136L1240 136L1224 136L1208 136L1192 136L1176 136L1160 136L1144 136L1128 136' stroke='url(%26quot%3b%23SvgjsRadialGradient5006%26quot%3b)' stroke-width='2.67'%3e%3c/path%3e%3cpath d='M1125.33 136 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1349.33 136 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1173.33 152 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1269.33 120 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1045.33 104 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0zM1189.33 104 a2.67 2.67 0 1 0 5.34 0 a2.67 2.67 0 1 0 -5.34 0z' fill='url(%26quot%3b%23SvgjsRadialGradient5006%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask5004'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient5005'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(43%2c 80%2c 89%2c 0.93)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cradialGradient cx='1116' cy='560' r='646.97' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient5006'%3e%3cstop stop-color='rgba(245%2c 240%2c 3%2c 1)' offset='0.15'%3e%3c/stop%3e%3cstop stop-color='rgba(247%2c 182%2c 0%2c 1)' offset='0.23'%3e%3c/stop%3e%3cstop stop-color='rgba(218%2c 214%2c 22%2c 0.46)' offset='0.37'%3e%3c/stop%3e%3cstop stop-color='rgba(218%2c 187%2c 22%2c 0.34)' offset='0.83'%3e%3c/stop%3e%3c/radialGradient%3e%3c/defs%3e%3c/svg%3e");
  }
a {
    text-decoration: none;
}

.hero {
    width: 100%;
    height: 100vh;
   background-image: var(--background);
    background-size: cover;
  
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}

.logo {
    max-height: 60px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: #c6c6ec;
    position: relative;
    padding: 5px 0;
}

nav ul li a:hover {
    color: #f16e01;
}

nav ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #c6c6ec;
    transition: 0.3s;
    bottom: 0;
}

nav ul li a:hover:after {
    width: 100%;
}

.btn {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    background-size: 152% 100%;
    background: #f16e01;
    border: 2px solid #f16e01;
}

.btn:hover {
    background: transparent;
    border-color: #c6c6ec;
    color: #f16e01;
}

.content {
    position: absolute;
    top: 35%;
    left: 8%;
    text-align: justify;
}

.content .title {
    color: #0a0a0a;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
    background: linear-gradient(120deg, #f16e01 20.69%, #c6c6ec 50.19%, #e5ff00 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content h1 {
    color: #c6c6ec;
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
}

.content h1 span {
    color: #f16e01;
}

.content p {
    width: 55%;
    color: #c6c6ec;
    margin-top: 25px;
    margin-bottom: 30px;
}