<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />

    <title>About me</title>
  </head>
  <body>
    <div class="hero">
      <nav>
        <img src="" class="logo" />
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/aboutMe">About me</a></li>
          <li><a href="#">Service</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <a
          href="https://www.linkedin.com/in/jean-carlos-augusto-brito-cuesta-396a50241/"
          class="btn"
          >Resume</a
        >
      </nav>
      <div class="content">
        <span class="title">ABOUT ME</span>
        <p>
          Tengo un especial interés en la parte Frontend de las aplicaciones web
          y páginas web. Siento una fuerte motivación por aprender y dedicarme a
          esta faceta del desarrollo, ya que es algo que me apasiona
          profundamente. Disfruto creando interfaces intuitivas y atractivas, ya
          que veo en ello la oportunidad de establecer una conexión efectiva con
          los usuarios. Mi objetivo es hacer que la experiencia de navegación
          sea no solo funcional, sino también placentera, facilitando la
          comprensión y guía para quienes utilicen las aplicaciones o sitios web
          que desarrolle. Mi deseo es contribuir al desarrollo de tecnologías
          que no solo sean eficientes, sino también accesibles y amigables para
          un público diverso. Aspirando a ser un desarrollador Frontend, estoy
          emocionado por participar en proyectos que me brinden la oportunidad
          de aprender y crecer profesionalmente, especialmente aquellos que
          permitan aplicar mis habilidades en el ámbito tecnológico para mejorar
          servicios.
        </p>
      </div>
    </div>
   
  </body>
</html>
